config/n8n/workflows/Automated Domain & IP Reputation Guard with HashiCorp Vault.json
{
  "name": "Automated Domain & IP Reputation Guard with HashiCorp Vault",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3104,
        -496
      ],
      "id": "84dca179-a0f0-49fd-8e5b-5feb60b26e82",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "cyber_intelligence.v_pending_analysis",
          "mode": "name"
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -2592,
        -496
      ],
      "id": "8bf1829c-9df2-41b2-a86e-75cc263170bb",
      "name": "Select rows from a table",
      "credentials": {
        "mySql": {
          "id": "yhjGryqAfuUYr29Q",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "curlImport": "",
        "httpVariantWarning": "",
        "method": "GET",
        "url": "=https://www.virustotal.com/api/v3/ip_addresses/{{ $('Select rows from a table').item.json.observable_ip }}",
        "": "",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "virusTotalApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2160,
        -176
      ],
      "id": "ff297aa5-0e9f-4f5e-b2e1-7a7eeaf96bf8",
      "name": "VirusTotal IP Scan",
      "extendsCredential": "virusTotalApi",
      "credentials": {
        "virusTotalApi": {
          "id": "g2lSFHR1Q18hczpO",
          "name": "VirusTotal account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1809d7a-923a-4ef7-b24f-fcbf6b5cb41d",
              "leftValue": "={{ $json.data.attributes.last_analysis_stats.malicious }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "ca056a70-f3eb-4aa5-bae9-05bd477cf4ce",
              "leftValue": "={{ $json.data.attributes.last_analysis_stats.suspicious }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1968,
        -176
      ],
      "id": "301ce32c-69d1-4561-809b-792422ada724",
      "name": "If 'malicious' or 'suspicious'"
    },
    {
      "parameters": {
        "secretPath": "cyber-sentinel/api-keys/virustotal",
        "additionalFields": {}
      },
      "type": "n8n-nodes-hashi-vault.hashiCorpVault",
      "typeVersion": 1,
      "position": [
        -2352,
        -176
      ],
      "id": "a56ac689-7f44-4614-bf7e-940d85ce6c40",
      "name": "Virus total API TOKEN",
      "credentials": {
        "hashiCorpVaultApi": {
          "id": "24ZtV0tcsZ0ZLwoT",
          "name": "HashiCorp Vault account"
        }
      }
    },
    {
      "parameters": {
        "secretPath": "cyber-sentinel/api-keys/gemini/home-network-guardian",
        "additionalFields": {}
      },
      "type": "n8n-nodes-hashi-vault.hashiCorpVault",
      "typeVersion": 1,
      "position": [
        -752,
        -608
      ],
      "id": "2d61d46a-cd6d-4b12-a052-6cca8f988d34",
      "name": "Gemini AI Studio",
      "credentials": {
        "hashiCorpVaultApi": {
          "id": "24ZtV0tcsZ0ZLwoT",
          "name": "HashiCorp Vault account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ROLE:\nYou are a Senior Cyber Threat Intelligence Analyst in the Cyber Sentinel system. Your task is to evaluate an artifact based on aggregated data from VirusTotal, ThreatFox, and Urlhaus, and return a structured analysis.\n\nCONTEXT & SCORING POLICY:\nAssign exactly one threat score from the following scale:\nSCORE | DESCRIPTION | IS_MALICIOUS | CRITERIA\n1 | Safe / Clean | FALSE | 0 detections; known trusted services (Google, MS, GitHub).\n2 | Low Risk | FALSE | 1 detection (minor engine); no other evidence.\n3 | Informational | FALSE | Cloud/CDN IPs without active malware.\n4 | Unverified | FALSE | New domain, no history, no detections.\n5 | Suspicious | FALSE | Heuristics, bad reputation hosting, low confidence.\n6 | Likely Malicious | TRUE | 3-5 detections or grey-list presence.\n7 | Malicious | TRUE | Confirmed by at least 1 reputable engine or CTI report.\n8 | High Risk | TRUE | Critical detections, confirmed malware family (e.g., RAT).\n9 | Confirmed Malware | TRUE | Active malware hosting confirmed by Urlhaus.\n10 | Critical Threat | TRUE | Active C2 server confirmed by ThreatFox/Triage.\n\nDATA SOURCE PRE-ANALYSIS:\nBefore finalizing the score, you must analyze every variable returned by the source nodes:\n\nIMPORTANT: You will receive multiple threat intelligence reports in a single data object. You must synthesize ALL provided reports into ONE single evaluation. Do not generate separate outputs for each source.\n\nData : {{ JSON.stringify($('Code for Merge').item.json) }} \n\n1. VirusTotal Section (\"virustotal\"):\n   - If \"no_data\" is true, skip this source.\n   - Use \"vt_report\" for the textual summary.\n   - Analyze \"vt_stats\" (malicious/suspicious/undetected counts) and \"vt_malicious_count\" for raw detection levels.\n   - Check \"vt_owner\" and \"vt_is_big_player\" to identify if the infrastructure belongs to a trusted provider like Google or Microsoft.\n   - Reference \"vt_scan_date\" to determine the freshness of the data.\n\n2. ThreatFox Section (\"threatfox\"):\n   - If \"no_data\" is true, skip this source.\n   - Use \"threatfox_report\" for identified malware families and threat types.\n   - \"threatfox_active\" (boolean): If true, this indicates an actively confirmed threat.\n   - \"threatfox_max_confidence\": Use this to gauge the reliability of the report.\n\n3. Urlhaus Section (\"urlhaus\"):\n   - If \"no_data\" is true, skip this source.\n   - Use \"urlhaus_report\" for details on active malware distribution.\n   - \"is_active_threat\" (boolean): If true, the payload URL is currently online and dangerous.\n   - \"urlhaus_reference\": Use this for providing direct evidence links.\n\nDATA AVAILABILITY RULES:\n1. Each source (virustotal, threatfox, urlhaus) contains a \"no_data\" flag.\n2. If \"no_data\" is true, it means the artifact is not present in that database. Treat this as a clean result for that specific source.\n3. If all sources report \"no_data\": true, set threat_score to 1 (if it's a known big player) or 4 (if entirely unknown).\n\nANALYSIS RULES:\n1. Cross-Check: If ThreatFox or Urlhaus confirm active threats (threatfox_active: true or is_active_threat: true), the threat_score MUST be >= 8, regardless of low VirusTotal detections.\n2. Big Player Exception: If vt_is_big_player is true, exercise caution with low detection counts (<3) to avoid False Positives.\n3. Flagging: is_malicious MUST be true only if threat_score >= 6.\n4. Attribution: Identify the infrastructure owner using vt_owner and specify malware families (e.g., ValleyRAT) if present in threatfox or urlhaus reports.\n\nSTRICT JSON FORMATTING RULE:\nAll string values (verdict_en, analysis_pl) MUST be single-line strings. NEVER use physical line breaks (Enters) inside string values. If you need to separate thoughts, use a period (.) or a semicolon (;).\n\nREQUIRED OUTPUT (STRICT JSON ONLY):\n{\n  \"threat_score\": [number 1-10],\n  \"is_malicious\": [boolean],\n  \"threat_label\": \"[Phishing / Botnet / C2 / Clean / Suspicious / Malware]\",\n  \"verdict_en\": \"[Technical summary for threat_indicators table - max 200 chars]\",\n  \"analysis_pl\": \"[Komentarz w jezyku Polskim dla Łukasza: 1. Właściciel IP/Hostingu. 2. Typ zagrożenia i wykryte rodziny malware. 3. Rekomendacja (Blokować/Monitorować/Zignorować)]\",\n  \"active_providers\": [\"virustotal\", \"threatfox\", \"urlhaus\"]\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        -608
      ],
      "id": "a532302f-b601-47da-9197-9910b6c7b6df",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "secretPath": "=cyber-sentinel/credentials/mysql/app_manager",
        "additionalFields": {}
      },
      "type": "n8n-nodes-hashi-vault.hashiCorpVault",
      "typeVersion": 1,
      "position": [
        -2944,
        -496
      ],
      "id": "db7320d8-0d9f-4035-83ac-60eae5e0659a",
      "name": "MySQL Pass",
      "credentials": {
        "hashiCorpVaultApi": {
          "id": "24ZtV0tcsZ0ZLwoT",
          "name": "HashiCorp Vault account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -656,
        -384
      ],
      "id": "fcc4211c-8807-4aa5-adc5-3abf05716f1d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JJXaAGWm6Kg1DmUJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let rawText = $json.output;\nlet cleanJson = rawText.replace(/```json\\n|```/g, \"\").trim();\ncleanJson = cleanJson.replace(/[\\r\\n]+/g, \" \");\n\ntry {\n  const data = JSON.parse(cleanJson);\n  const providerDetails = [];\n\n  // ULEPSZONA Funkcja pomocnicza\n  const getMongoId = (nodeName, providerKey) => {\n    try {\n      // Pobieramy wszystkie dane z danego węzła, nie tylko ostatni element\n      const nodeData = $(nodeName).all(); \n      \n      for (const entry of nodeData) {\n        if (entry.json && entry.json[providerKey] && entry.json[providerKey].mongo_id) {\n          return entry.json[providerKey].mongo_id;\n        }\n      }\n    } catch (e) {\n      return null;\n    }\n    return null;\n  };\n\n  // Logika sprawdzania dostawców pozostaje bez zmian, ale funkcja powyżej jest skuteczniejsza\n  if (data.active_providers.includes(\"virustotal\")) {\n    const vt_id = getMongoId('Data reduction and aggregation - VirusTotal', 'virustotal');\n    if (vt_id) providerDetails.push({ name: \"VirusTotal\", mongo_id: vt_id });\n  }\n\n  if (data.active_providers.includes(\"threatfox\")) {\n    const tf_id = getMongoId('Data reduction and aggregation - ThreatFox', 'threatfox');\n    if (tf_id) providerDetails.push({ name: \"Abuse_ThreatFox\", mongo_id: tf_id });\n  }\n\n  if (data.active_providers.includes(\"urlhaus\")) {\n    const uh_id = getMongoId('Data reduction and aggregation - Urlhaus', 'urlhaus');\n    if (uh_id) providerDetails.push({ name: \"Abuse_URLhaus\", mongo_id: uh_id });\n  }\n\n  return {\n    score: data.threat_score,\n    verdict_en: data.verdict_en,\n    analysis_pl: data.analysis_pl,\n    provider_details: providerDetails\n  };\n\n} catch (error) {\n  return { error: \"Parsing failed\", details: error.message, raw_received: rawText };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -720
      ],
      "id": "583369e8-7519-42a2-9174-0b1b6a811372",
      "name": "Parse AI Agent output"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- KROK 1: Wstawienie unikalnego werdyktu do nowej tabeli słownikowej\nINSERT INTO cyber_intelligence.ai_analysis_results (\n    threat_score, \n    verdict_summary_en, \n    analysis_pl\n) VALUES (\n    {{ $json.score }},\n    '{{ $json.verdict_en }}',\n    '{{ $json.analysis_pl }}'\n);\n\n-- Zapamiętujemy ID werdyktu\nSET @last_result_id = LAST_INSERT_ID();\n\n-- KROK 2: Wstawienie rekordu zdarzenia do threat_indicators\nINSERT INTO cyber_intelligence.threat_indicators (\n    dns_query_id,\n    type_id,\n    analysis_result_id,\n    last_scan\n) VALUES (\n    {{ $('Select rows from a table').item.json.dns_query_id }}, \n    (SELECT id FROM cyber_intelligence.dic_indicator_types WHERE name = 'IP'),\n    @last_result_id,\n    NOW()\n);\n\n-- Zapamiętujemy ID zdarzenia (do powiązania ze skanerami)\nSET @last_event_id = LAST_INSERT_ID();\n\n-- KROK 3: Dynamiczne wstawienie szczegółów skanerów (VirusTotal, ThreatFox itp.)\n{{ $json.provider_details.map(p => `\nINSERT INTO cyber_intelligence.threat_indicator_details (indicator_id, source_id, mongo_ref_id)\nSELECT @last_event_id, id, '${p.mongo_id}' \nFROM cyber_intelligence.dic_source_providers WHERE name = '${p.name}';\n`).join('\\n') }}\n\n-- Zwracamy ID zdarzenia dla kolejnych kroków (np. do maila)\nSELECT @last_event_id AS indicator_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        0,
        -720
      ],
      "id": "ce9c8563-971f-4531-a990-ecf3cd0024ab",
      "name": "Insert AI verdict",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "yhjGryqAfuUYr29Q",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "l94524506@gmail.com",
        "toEmail": "home-network-guardian@proton.me",
        "subject": "=Raport wygenerowany przez system Cyber Sentinel | Data: {{ new Date().toLocaleString('pl-PL') }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: 'Segoe UI', Tahoma, sans-serif; background-color: #121212; color: #e0e0e0; margin: 0; padding: 20px; }\n        .card { max-width: 600px; margin: auto; background: #1e1e1e; border: 1px solid #333; border-radius: 8px; overflow: hidden; border-top: 4px solid #f44336; }\n        .header { background: #263238; padding: 15px; text-align: center; }\n        .content { padding: 25px; }\n        .score-box { background: #2d2d2d; border-radius: 5px; padding: 10px; text-align: center; margin-bottom: 20px; border: 1px solid #444; }\n        .ip-addr { font-family: 'Courier New', monospace; color: #64ffda; font-size: 18px; font-weight: bold; }\n        .analysis { background: #252525; padding: 15px; border-radius: 4px; border-left: 4px solid #90caf9; font-size: 14px; line-height: 1.6; margin-top: 15px; }\n        .provider-tag { display: inline-block; background: #37474f; color: #cfd8dc; padding: 2px 8px; border-radius: 3px; font-size: 11px; margin-right: 5px; border: 1px solid #546e7a; }\n        .btn { display: inline-block; padding: 10px 20px; background-color: #f44336; color: white; text-decoration: none; border-radius: 4px; font-weight: bold; margin-top: 20px; font-size: 14px; }\n        .footer { text-align: center; font-size: 11px; color: #777; padding: 15px; }\n    </style>\n</head>\n<body>\n    <div class=\"card\">\n        <div class=\"header\">\n            <h2 style=\"margin:0; color: #ff5252;\">🚨 ALARM: Cyber Sentinel</h2>\n        </div>\n        <div class=\"content\">\n            <div class=\"score-box\">\n                <div style=\"font-size: 12px; text-transform: uppercase; color: #888; letter-spacing: 1px;\">Threat Severity Score</div>\n                <div style=\"font-size: 36px; font-weight: bold; color: #ff5252;\">{{ $node[\"Parse AI Agent output\"].json.score }}/10</div>\n            </div>\n\n            <p><strong>Obiekt (IP):</strong> <span class=\"ip-addr\">{{ $('Select rows from a table').item.json.observable_ip }}</span></p>\n            <p><strong>Powiązana domena:</strong> <span style=\"color: #90caf9;\">{{ $('Select rows from a table').item.json.fqdn }}</span></p>\n            \n            <div style=\"margin-top: 10px;\">\n                <strong style=\"font-size: 13px; color: #888;\">Aktywne źródła danych:</strong><br>\n                {{ $node[\"Parse AI Agent output\"].json.provider_details.map(p => `<span class=\"provider-tag\">${p.name}</span>`).join('') }}\n            </div>\n\n            <div class=\"analysis\">\n                <strong style=\"color: #90caf9;\">Analiza (PL):</strong><br>\n                <div style=\"margin-top: 5px;\">\n                    {{ $node[\"Parse AI Agent output\"].json.analysis_pl }}\n                </div>\n            </div>\n\n            <p style=\"color: #bbb; font-style: italic; font-size: 12px; margin-top: 15px; border-top: 1px solid #333; padding-top: 10px;\">\n                <strong>Technical Verdict:</strong> {{ $node[\"Parse AI Agent output\"].json.verdict_en }}\n            </p>\n\n            <div style=\"text-align: center;\">\n                <a href=\"https://rdap.arin.net/registry/ip/{{ $('Select rows from a table').item.json.observable_ip }}\" class=\"btn\">Sprawdź detale IP (RDAP)</a>\n            </div>\n        </div>\n        <div class=\"footer\">\n            System: <strong>Cyber Sentinel v1.0</strong><br>\n            Data: {{ new Date().toLocaleString('pl-PL') }}\n        </div>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        224,
        -448
      ],
      "id": "adabcf0d-8191-4bf2-ba73-07e78d78006f",
      "name": "Send an Email",
      "webhookId": "9541ce19-f72d-4402-a34e-3ccb6a42b261",
      "credentials": {
        "smtp": {
          "id": "adTLsyZpBC1gVJK2",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://threatfox-api.abuse.ch/api/v1/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "search_ioc"
            },
            {
              "name": "search_term",
              "value": "={{ $('Select rows from a table').item.json.fqdn }}"
            },
            {
              "name": "exact_match",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "643dbbfa-6be9-475d-862a-8ba4f895d136",
      "name": "Abuse.CH_ThreatFox request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2160,
        -528
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZFD27i2HuT05opCN",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "secretPath": "cyber-sentinel/api-keys/abuse/api-key",
        "additionalFields": {}
      },
      "type": "n8n-nodes-hashi-vault.hashiCorpVault",
      "typeVersion": 1,
      "position": [
        -2352,
        -720
      ],
      "id": "990717f4-746b-423a-a67c-1876f3cb4222",
      "name": "Abuse API TOKEN",
      "credentials": {
        "hashiCorpVaultApi": {
          "id": "24ZtV0tcsZ0ZLwoT",
          "name": "HashiCorp Vault account"
        }
      }
    },
    {
      "parameters": {
        "secretPath": "cyber-sentinel/credentials/gmail/l94524506",
        "additionalFields": {}
      },
      "type": "n8n-nodes-hashi-vault.hashiCorpVault",
      "typeVersion": 1,
      "position": [
        0,
        -448
      ],
      "id": "3ca870ed-b0c3-407c-8cf3-66d54593ae62",
      "name": "Get Email Pass",
      "credentials": {
        "hashiCorpVaultApi": {
          "id": "24ZtV0tcsZ0ZLwoT",
          "name": "HashiCorp Vault account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://urlhaus-api.abuse.ch/v1/host/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "host",
              "value": "={{ $('Select rows from a table').item.json.fqdn }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0a02d8d8-5055-44a4-b165-848eb61e07e7",
      "name": "Abuse.CH_URLHaus",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -2144,
        -912
      ],
      "typeVersion": 4.4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZFD27i2HuT05opCN",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "threat_data_raw",
        "fields": "=resource,type,source_provider,scan_date,raw_data",
        "options": {
          "dateFields": "",
          "useDotNotation": false
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1568,
        -1008
      ],
      "id": "392f063c-7556-40d7-91cc-045f62268f1f",
      "name": "Insert doc URLHaus",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "bIv67uJxYpzy7WVO",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  resource: $('Select rows from a table').first().json.observable_ip,\n  type: 'FQDN',\n  source_provider: 'Abuse_URLhaus', \n  scan_date: new Date().toISOString(),\n  raw_data: $('Abuse.CH_URLHaus').item.json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        -1008
      ],
      "id": "f941de13-8d24-4fd8-91cd-62921d64f886",
      "name": "Edit Json for Mongo - URLHaus"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Wstawiamy bazowy wynik \"Clean\" do nowej tabeli wyników\nINSERT INTO cyber_intelligence.ai_analysis_results (\n    threat_score, \n    verdict_summary_en, \n    analysis_pl\n) VALUES (\n    1,\n    null,\n    null\n);\n\n-- 2. Pobieramy ID tego wyniku\nSET @last_clean_result_id = LAST_INSERT_ID();\n\n-- 3. Wstawiamy rekord do głównej tabeli zdarzeń (już bez source_id!)\nINSERT INTO cyber_intelligence.threat_indicators (\n    dns_query_id,\n    type_id,\n    analysis_result_id,\n    last_scan\n) VALUES (\n    {{ $('Select rows from a table').item.json.dns_query_id }}, \n    (SELECT id FROM cyber_intelligence.dic_indicator_types WHERE name = 'FQDN'),\n    @last_clean_result_id,\n    NOW()\n);\n\n-- 4. Rejestrujemy, który skaner to zaraportował w tabeli szczegółów\nINSERT INTO cyber_intelligence.threat_indicator_details (\n    indicator_id, \n    source_id, \n    mongo_ref_id\n) VALUES (\n    LAST_INSERT_ID(),\n    (SELECT id FROM cyber_intelligence.dic_source_providers WHERE name = 'Abuse_URLhaus'),\n    'NO_DATA'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1744,
        -800
      ],
      "id": "61246457-db7e-4a4a-9252-c1490d95efc5",
      "name": "Insert a clear scan - URLHaus",
      "credentials": {
        "mySql": {
          "id": "yhjGryqAfuUYr29Q",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  resource: $('Select rows from a table').first().json.observable_ip,\n  type: 'FQDN',\n  source_provider: 'Abuse_ThreatFox', \n  scan_date: new Date().toISOString(),\n  raw_data: $('Abuse.CH_ThreatFox request').item.json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        -608
      ],
      "id": "3052da02-3e4f-4296-acdb-5046b1c096a0",
      "name": "Edit Json for Mongo - ThreatFox"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Wstawienie bazowego werdyktu \"Safe\" do nowej tabeli wyników\n-- Robimy to, aby zachować spójność relacji (analysis_result_id)\nINSERT INTO cyber_intelligence.ai_analysis_results (\n    threat_score, \n    verdict_summary_en, \n    analysis_pl\n) VALUES (\n    1,\n    null,\n    null\n);\n\n-- Zapamiętujemy ID tego wyniku\nSET @last_clean_res_id = LAST_INSERT_ID();\n\n-- 2. Wstawienie rekordu zdarzenia do threat_indicators\nINSERT INTO cyber_intelligence.threat_indicators (\n    dns_query_id,\n    type_id,\n    analysis_result_id,\n    last_scan\n) VALUES (\n    {{ $('Select rows from a table').item.json.dns_query_id }}, \n    (SELECT id FROM cyber_intelligence.dic_indicator_types WHERE name = 'IP'),\n    @last_clean_res_id,\n    NOW()\n);\n\n-- Zapamiętujemy ID zdarzenia (indicator_id)\nSET @last_event_id = LAST_INSERT_ID();\n\n-- 3. Rejestracja konkretnego skanera w tabeli szczegółów\nINSERT INTO cyber_intelligence.threat_indicator_details (\n    indicator_id, \n    source_id, \n    mongo_ref_id\n) VALUES (\n    @last_event_id,\n    (SELECT id FROM cyber_intelligence.dic_source_providers WHERE name = 'Abuse_ThreatFox'),\n    '{{ $json.mongo_id || \"NO_DATA\" }}' -- Używa mongo_id jeśli istnieje, inaczej \"NO_DATA\"\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1744,
        -432
      ],
      "id": "6d692e11-3337-4359-b4c2-c8240c435155",
      "name": "Insert a clear scan - ThreatFox",
      "credentials": {
        "mySql": {
          "id": "yhjGryqAfuUYr29Q",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "threat_data_raw",
        "fields": "=resource,type,source_provider,scan_date,raw_data",
        "options": {
          "dateFields": "",
          "useDotNotation": false
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1568,
        -608
      ],
      "id": "fc72827d-518f-4148-827b-738fbe1149a7",
      "name": "Insert doc ThreatFox",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "bIv67uJxYpzy7WVO",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Wstawienie neutralnego werdyktu do nowej tabeli wyników\nINSERT INTO cyber_intelligence.ai_analysis_results (\n    threat_score, \n    verdict_summary_en, \n    analysis_pl\n) VALUES (\n    1,\n    null,\n    null\n);\n\n-- Zapamiętujemy ID werdyktu\nSET @last_vt_clean_res_id = LAST_INSERT_ID();\n\n-- 2. Wstawienie rekordu do głównej tabeli zdarzeń (rejestr skanowania)\nINSERT INTO cyber_intelligence.threat_indicators (\n    dns_query_id,\n    type_id,\n    analysis_result_id,\n    last_scan\n) VALUES (\n    {{ $('Select rows from a table').item.json.dns_query_id }}, \n    (SELECT id FROM cyber_intelligence.dic_indicator_types WHERE name = 'IP'),\n    @last_vt_clean_res_id,\n    NOW()\n);\n\n-- Zapamiętujemy ID zdarzenia (indicator_id)\nSET @last_vt_event_id = LAST_INSERT_ID();\n\n-- 3. Powiązanie skanera VirusTotal w tabeli szczegółów\nINSERT INTO cyber_intelligence.threat_indicator_details (\n    indicator_id, \n    source_id, \n    mongo_ref_id\n) VALUES (\n    @last_vt_event_id,\n    (SELECT id FROM cyber_intelligence.dic_source_providers WHERE name = 'VirusTotal'),\n    '{{ $json.mongo_id || \"NO_DATA\" }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1744,
        -48
      ],
      "id": "450424c2-bdcd-45a5-b36c-be2a9d646ee4",
      "name": "Insert a clear scan - VirusTotal",
      "credentials": {
        "mySql": {
          "id": "yhjGryqAfuUYr29Q",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  resource: $('If \\'malicious\\' or \\'suspicious\\'').item.json.data.id, \n  type: \"IP\",\n  source_provider: \"VirusTotal\", \n  scan_date: new Date().toISOString(),\n  raw_data: $('VirusTotal IP Scan').item.json.data \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        -240
      ],
      "id": "d37f9a57-2001-4922-b76b-2ac3f08b851a",
      "name": "Edit Json for Mongo - VirusTotal"
    },
    {
      "parameters": {
        "secretPath": "cyber-sentinel/credentials/mongodb/admin",
        "additionalFields": {}
      },
      "type": "n8n-nodes-hashi-vault.hashiCorpVault",
      "typeVersion": 1,
      "position": [
        -2768,
        -496
      ],
      "id": "906ced4e-8588-4a7e-8367-d7e4a3735e87",
      "name": "Mongo DB Pass",
      "credentials": {
        "hashiCorpVaultApi": {
          "id": "24ZtV0tcsZ0ZLwoT",
          "name": "HashiCorp Vault account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "threat_data_raw",
        "fields": "=resource,type,source_provider,scan_date,raw_data",
        "options": {
          "dateFields": "",
          "useDotNotation": false
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1568,
        -240
      ],
      "id": "dba05af7-2214-46f8-a689-9f3535e89995",
      "name": "Insert doc VirusTotal",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "bIv67uJxYpzy7WVO",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst raw = item.raw_data || {};\nconst urls = raw.urls || [];\nconst mongoId = item.id || null;\n\nconst onlineCount = urls.filter(u => u.url_status === 'online').length;\n\nconst tagMap = {};\nurls.flatMap(u => u.tags || []).forEach(tag => {\n    const cleanTag = tag.trim().toLowerCase();\n    tagMap[cleanTag] = (tagMap[cleanTag] || 0) + 1;\n});\n\nconst topTags = Object.entries(tagMap)\n    .sort((a, b) => b[1] - a[1])\n    .slice(0, 5)\n    .map(entry => `${entry[0]} (${entry[1]}x)`)\n    .join(', ');\n\nconst criticalKeywords = ['c2', 'cobaltstrike', 'rat', 'ransomware', 'brute', 'infostealer', 'stealer', 'brat'];\nconst foundCritical = Object.keys(tagMap).filter(tag => criticalKeywords.includes(tag));\n\nconst urlhausRef = raw.urlhaus_reference || \"No reference link available\";\n\nlet report = `SOURCE: Abuse_URLhaus\\n`;\nif (urls.length === 0 && !raw.urlhaus_reference) {\n    report += \"STATUS: No data available from this source.\";\n} else {\n    report += `- Total URLs in DB: ${raw.url_count || 0}\\n`;\n    report += `- Active (Online) URLs: ${onlineCount} / ${urls.length} (analyzed sample)\\n`;\n    report += `- Top Tags: ${topTags || 'None'}\\n`;\n    report += `- Reference: ${urlhausRef}\\n`; // Dodany atrybut do tekstu\n    \n    if (foundCritical.length > 0) {\n        report += `- CRITICAL FLAGS DETECTED: ${foundCritical.join(', ').toUpperCase()}\\n`;\n    }\n}\n\nif (urls.length === 0 && !raw.urlhaus_reference) {\n    return {\n        \"urlhaus\": {\n            \"no_data\": true,\n            \"urlhaus_report\": \"SOURCE: Abuse_URLhaus\\nSTATUS: No data available.\"\n        }\n    };\n}\n\nreturn {\n    \"urlhaus\": {\n        \"no_data\": false,\n        \"urlhaus_report\": report,\n        \"is_active_threat\": onlineCount > 0,\n        \"urlhaus_reference\": urlhausRef,\n        \"mongo_id\": mongoId\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        -848
      ],
      "id": "f5f11f7c-b94b-4b92-a8d9-8a49fdd3c756",
      "name": "Data reduction and aggregation - Urlhaus"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst raw = item.raw_data || {};\nconst dataList = raw.data || [];\nconst mongoId = item.id || null;\n\nconst malwareFamilies = [...new Set(dataList.map(d => d.malware_printable).filter(m => m))];\nconst threatTypes = [...new Set(dataList.map(d => d.threat_type).filter(t => t))];\n\nconst confidenceScores = dataList.map(d => d.confidence_level).filter(c => c !== undefined);\nconst avgConfidence = confidenceScores.length > 0 \n    ? (confidenceScores.reduce((a, b) => a + b, 0) / confidenceScores.length).toFixed(0) \n    : 0;\n\nconst tagMap = {};\ndataList.flatMap(d => d.tags || []).forEach(tag => {\n    const cleanTag = tag.trim();\n    tagMap[cleanTag] = (tagMap[cleanTag] || 0) + 1;\n});\nconst topTags = Object.entries(tagMap)\n    .sort((a, b) => b[1] - a[1])\n    .slice(0, 5)\n    .map(e => e[0])\n    .join(', ');\n\nconst externalRef = dataList.length > 0 ? dataList[0].reference : \"No reference available\";\n\nlet report = `SOURCE: Abuse_ThreatFox\\n`;\nif (dataList.length === 0 || raw.query_status !== \"ok\") {\n    report += \"STATUS: No indicators found for this resource.\";\n} else {\n    report += `- Detections Found: ${dataList.length}\\n`;\n    report += `- Malware Families: ${malwareFamilies.join(', ') || 'Unknown'}\\n`;\n    report += `- Threat Types: ${threatTypes.join(', ') || 'Unknown'}\\n`;\n    report += `- Average Confidence: ${avgConfidence}%\\n`;\n    report += `- Top Tags: ${topTags || 'None'}\\n`;\n    report += `- Reference: ${externalRef}\\n`;\n}\n\nif (dataList.length === 0 || raw.query_status !== \"ok\") {\n    return {\n        \"threatfox\": {\n            \"no_data\": true,\n            \"threatfox_report\": \"SOURCE: Abuse_ThreatFox\\nSTATUS: No indicators found.\",\n            \"mongo_id\": mongoId\n        }\n    };\n}\n\nreturn {\n    \"threatfox\": {\n        \"no_data\": false,\n        \"threatfox_report\": report,\n        \"threatfox_active\": dataList.length > 0,\n        \"threatfox_max_confidence\": Math.max(...confidenceScores, 0),\n        \"mongo_id\": mongoId\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        -608
      ],
      "id": "e08faa3a-62a3-4237-8656-a0f54c7889d3",
      "name": "Data reduction and aggregation - ThreatFox"
    },
    {
      "parameters": {
        "jsCode": "// Get item from n8n input\nconst item = $input.item.json;\n\nconst mongoId = item.id || null;\n\n// Target the correct path in your specific JSON\nconst attr = item.raw_data && item.raw_data.attributes ? item.raw_data.attributes : {};\n\n// 1. Get Analysis Stats\nconst stats = attr.last_analysis_stats || {};\nconst malCount = stats.malicious || 0;\nconst susCount = stats.suspicious || 0;\nconst undCount = stats.undetected || 0;\n\n// 2. Get Engines that flagged it (Malicious/Suspicious)\nconst results = attr.last_analysis_results || {};\nconst flaggedBy = [];\n\nObject.keys(results).forEach(engine => {\n    if (results[engine].category === 'malicious' || results[engine].category === 'suspicious') {\n        flaggedBy.push(`${engine} (${results[engine].result})`);\n    }\n});\n\n// 3. Network & Ownership\nconst asOwner = attr.as_owner || \"Unknown Owner\";\nconst network = attr.network || \"Unknown Network\";\nconst rdap = attr.rdap || {};\nconst ipRange = (rdap.start_address && rdap.end_address) \n    ? `${rdap.start_address} - ${rdap.end_address}` \n    : \"Range not specified\";\n\n// 4. Build the report string\nlet report = `SOURCE: VirusTotal\\n`;\nreport += `- Owner: ${asOwner}\\n`;\nreport += `- Network: ${network}\\n`;\nreport += `- IP Range: ${ipRange}\\n`;\nreport += `- Stats: Malicious: ${malCount}, Suspicious: ${susCount}, Undetected: ${undCount}\\n`;\n\nif (flaggedBy.length > 0) {\n    report += `- Flagged by: ${flaggedBy.join(', ')}\\n`;\n}\n\n// 5. Check if it's a Big Player\nconst bigPlayers = [\"github\", \"google\", \"microsoft\", \"amazon\", \"cloudflare\"];\nconst isBigPlayer = bigPlayers.some(p => asOwner.toLowerCase().includes(p));\n\nif (!item.raw_data || !item.raw_data.attributes) {\n    return {\n        \"virustotal\": {\n            \"no_data\": true,\n            \"vt_report\": \"SOURCE: VirusTotal\\nSTATUS: No data found for this resource.\",\n            \"mongo_id\": mongoId\n        }\n    };\n}\n\nreturn {\n    \"virustotal\": {\n        \"no_data\": false,\n        \"vt_report\": report,\n        \"vt_stats\": stats,\n        \"vt_owner\": asOwner,\n        \"vt_is_big_player\": isBigPlayer,\n        \"vt_malicious_count\": malCount,\n        \"vt_scan_date\": item.scan_date,\n        \"mongo_id\": mongoId\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        -352
      ],
      "id": "22f949e1-9fc7-41b6-bcec-3582c355a217",
      "name": "Data reduction and aggregation - VirusTotal"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1104,
        -624
      ],
      "id": "5116e479-f768-40d5-bda2-5a11ed457aff",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Łączymy wszystkie elementy z wejścia w jeden obiekt\nlet combinedData = {};\n\nfor (const item of $input.all()) {\n  // Scalamy właściwości (np. virustotal, threatfox, urlhaus) w jeden obiekt\n  Object.assign(combinedData, item.json);\n}\n\nreturn combinedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -608
      ],
      "id": "b14246cd-3917-44a5-9ebc-27e90118387c",
      "name": "Code for Merge"
    },
    {
      "parameters": {
        "content": "## Orchestration & Data Ingestion\n\n**Primary Goal:** Initialize the workflow by securely fetching credentials and pending tasks. \n\n**Security:** Integrated with **HashiCorp Vault** to retrieve MySQL and MongoDB credentials at runtime, ensuring no hardcoded secrets.\n\n**Data Source:** Queries the `cyber_intelligence.v_pending_analysis` view to identify new observable IPs/FQDNs from DNS traffic.\n\n**Scheduling:** Automated via **Schedule Trigger** for continuous infrastructure monitoring.",
        "height": 1504,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3152,
        -1344
      ],
      "id": "34ac24c9-e2bf-4f03-ad2a-8c8c57218632",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Multi-Source Threat Intelligence Enrichment\n\n**Primary Goal:** Collect diverse technical indicators (IoCs) from leading providers. \n\n**Abuse_URLhaus:** Specifically identifies active malware distribution URLs and payload hosting.\n**Abuse_ThreatFox:** Provides high-confidence IoC validation and malware family tagging.\n**VirusTotal:** Aggregates detection ratios from 70+ engines for global reputation scoring.",
        "height": 1504,
        "width": 640,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2448,
        -1344
      ],
      "id": "c79b8cfa-45c8-4173-a58d-62a6adc8679d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Dual-Layer Persistence Strategy\n**Primary Goal:** Store raw data for forensics and update the operational relational database.\n\n**MongoDB (Data Lake):** Archives full raw JSON responses in the `threat_data_raw` collection.\n**MySQL (Relational):** Updates the `threat_indicators` table. \n**Optimization:** \\\"Clean\\\" results are logged immediately to prevent redundant API calls.",
        "height": 1504,
        "width": 624,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1808,
        -1344
      ],
      "id": "4a9b306d-a43b-49b3-8c60-1f29ccb12798",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## AI Synthesis & Cognitive Analysis\n\n**Primary Goal:** Transform fragmented raw data into an actionable security verdict. \n\n**Normalization:** Custom JS consolidates disparate CTI responses into a clean prompt context.\n**LLM Engine:** Powered by **Google Gemini**, acting as a Senior Security Analyst. \n**Intelligence:** Generates bilingual reports (EN/PL) and assigns a normalized `threat_score` (1-10).",
        "height": 1504,
        "width": 864,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1184,
        -1344
      ],
      "id": "733bed6a-a760-4f3e-9cfa-507a133d3e6e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Incident Reporting & Remediation\n\n**Primary Goal:** Finalize the analysis cycle and notify the security team. \n\n**Relational Storage:** Records final AI verdicts in the `ai_analysis_results` table. \n**Alerting:** Triggers automated email notifications for high-risk detections. \n**Audit Trail:** Every AI decision is linked back to the original DNS query and raw provider data.",
        "height": 1504,
        "width": 768,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -1344
      ],
      "id": "9397274e-2b43-4311-bb10-71917f04eaa2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2e261a0-b1c9-4db5-8d57-112a5d5e20f7",
              "leftValue": "={{ $json.query_status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1968,
        -912
      ],
      "id": "283c9478-9c26-457b-8523-e2fe91da72cc",
      "name": "If query_status = ok - UrlHause"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "024c712f-29c5-49ed-8152-ac5fafac7816",
              "leftValue": "={{ $json.query_status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1968,
        -528
      ],
      "id": "12f99d4d-1cee-47ab-bef6-3770dd24fea0",
      "name": "If query_status = ok - ThretFox"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ddba4411-bc87-4bff-b539-a37973baa1da",
              "leftValue": "={{ $('Parse AI Agent output').item.json.score }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -224,
        -448
      ],
      "id": "b4748bfd-2c53-4ae2-8df1-1dcba238a284",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "MySQL Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Virus total API TOKEN",
            "type": "main",
            "index": 0
          },
          {
            "node": "Abuse API TOKEN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VirusTotal IP Scan": {
      "main": [
        [
          {
            "node": "If 'malicious' or 'suspicious'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If 'malicious' or 'suspicious'": {
      "main": [
        [
          {
            "node": "Edit Json for Mongo - VirusTotal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert a clear scan - VirusTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Virus total API TOKEN": {
      "main": [
        [
          {
            "node": "VirusTotal IP Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI Studio": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL Pass": {
      "main": [
        [
          {
            "node": "Mongo DB Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Agent output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Agent output": {
      "main": [
        [
          {
            "node": "Insert AI verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert AI verdict": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abuse API TOKEN": {
      "main": [
        [
          {
            "node": "Abuse.CH_ThreatFox request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Abuse.CH_URLHaus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abuse.CH_ThreatFox request": {
      "main": [
        [
          {
            "node": "If query_status = ok - ThretFox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        []
      ]
    },
    "Get Email Pass": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abuse.CH_URLHaus": {
      "main": [
        [
          {
            "node": "If query_status = ok - UrlHause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Json for Mongo - URLHaus": {
      "main": [
        [
          {
            "node": "Insert doc URLHaus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Json for Mongo - ThreatFox": {
      "main": [
        [
          {
            "node": "Insert doc ThreatFox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Json for Mongo - VirusTotal": {
      "main": [
        [
          {
            "node": "Insert doc VirusTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert doc URLHaus": {
      "main": [
        [
          {
            "node": "Data reduction and aggregation - Urlhaus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert doc ThreatFox": {
      "main": [
        [
          {
            "node": "Data reduction and aggregation - ThreatFox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mongo DB Pass": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert doc VirusTotal": {
      "main": [
        [
          {
            "node": "Data reduction and aggregation - VirusTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data reduction and aggregation - Urlhaus": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data reduction and aggregation - ThreatFox": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Data reduction and aggregation - VirusTotal": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code for Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code for Merge": {
      "main": [
        [
          {
            "node": "Gemini AI Studio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If query_status = ok - UrlHause": {
      "main": [
        [
          {
            "node": "Edit Json for Mongo - URLHaus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert a clear scan - URLHaus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If query_status = ok - ThretFox": {
      "main": [
        [
          {
            "node": "Edit Json for Mongo - ThreatFox",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert a clear scan - ThreatFox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get Email Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "40c76bbc-b8c1-430f-8808-277bc31059b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71c7fe4d131e80cb72eec0e26188a51a745f9f857c32d9cdf4587b1cb3816cfe"
  },
  "id": "v6SbteXL5dW8fGKQ",
  "tags": [
    {
      "updatedAt": "2026-03-13T13:39:00.381Z",
      "createdAt": "2026-03-13T13:39:00.381Z",
      "id": "Sp23rEbQB2Jd4jXe",
      "name": "ThreatFox"
    },
    {
      "updatedAt": "2026-03-13T13:38:34.538Z",
      "createdAt": "2026-03-13T13:38:34.538Z",
      "id": "TIbt5FCaXtha7wlD",
      "name": "VirusTotal"
    },
    {
      "updatedAt": "2026-03-13T13:38:42.812Z",
      "createdAt": "2026-03-13T13:38:42.812Z",
      "id": "bCcoQW7lpKvNTcSS",
      "name": "Abuse.ch"
    },
    {
      "updatedAt": "2026-03-13T13:38:26.975Z",
      "createdAt": "2026-03-13T13:38:26.975Z",
      "id": "myyAYIm8lG8YODFq",
      "name": "HashiCorpVault"
    }
  ]
}